@import '~@fortawesome/fontawesome-free/css/all.css';

.navbar.navbar-light {
  --p-color: #E79057;
  --border-color: rgb(200, 200, 200);
  --bg-links: rgba(221, 221, 221); 
}

.navbar.navbar-dark {
  --p-color: #E79057;
  --border-color: gray;
  --bg-links: #353535; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--background);
  color: var(--text-color);
  z-index: 101;
  position: fixed;
  border-bottom: 0.1px solid var(--border-color);
  width: 100%;
  backdrop-filter: blur(5px);
}

.navbar-brand h1 {
  margin: 0;
  font-size: 1.5rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-links li {
  margin: 0;
}

.navbar-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: var(--p-color);
}

.active > a {
  color: var(--p-color);
}

.icon-burger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .icon-burger {
    display: block;
  }

  .navbar-links a {
    font-size: 0.9rem;
  }

  .show-links {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 69px;
    padding: 1rem;
    left: 0;
    right: 0;
    gap: 1rem;
    background-color: var(--bg-links);
    color: var(--text-color);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(9px);
    z-index: 102; /* Ensure it's above other elements */
  }

  .show-links .github-icon {
    padding-left: 0rem;
    border-left: 0;
  }
}

.github-icon {
  display: grid;
  padding-left: 1.5rem;
  place-items: center;
  border-left: 1px solid var(--border-color);
}

.github-icon a {
  color: var(--text-color);
  font-size: 1.5rem;
  text-decoration: none;
}

.github-icon a:hover {
  color: var(--text-color);
}

.theme-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
  display: grid;
  place-items: center;
  width: 49px;
}
