/* Sidebar Styles */
.sidebar {
  margin-top: 4.3rem;
  width: 300px;
  z-index: 100;
  background-color: var(--background);
  padding: 2rem;
  height: 90vh;
  position: fixed;
  left: 0;
  color: var(--text-color);
  transition: transform 0.3s ease;
  color-scheme: dark;
  overflow-y: auto;
}

.sidebar.hidden {
  transform: translateX(-90%);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 0.5rem 0;
  margin-bottom: 1rem;
}

.sidebar ul li > button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  font-weight: 600;
  color: var(--text-color);
  cursor: pointer;
  padding: 0;
  width: 100%;
}

.sidebar ul li > button > .icon {
  margin-right: 0.75rem;
  color: #C4C4C4;
  transition: transform 0.3s;
}

.sidebar ul li ul {
  display: none;
  border-left: 1px solid rgb(207, 204, 204);
  color: var(--text-color);
  margin: 1.2rem 1rem;
  padding: 5px 0;
}

.sidebar ul li ul.open {
  display: block;
}

.sidebar ul li ul li a {
  color: var(--text-color);
  font-weight: 100;
}

.sidebar ul li a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s;
  padding-left: 1rem;
}
.sidebar ul li ul li a::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  margin-top: 7px;
  border-radius: 50%;
  left: 2.8rem;
  text-decoration: none;
  background-color: var(--text-scolor);
  transition: color 0.3s;

}

.sidebar ul li ul li a:hover {
  color: var(--text-color);
}

.sidebar ul li ul li.active > a {
  padding: 0.3rem 1rem;
  color: var(--p-color);
}
.sidebar ul li ul li.active a::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  margin-top: 7px;
  border-radius: 50%;
  left: 2.8rem;
  text-decoration: none;
  background-color: var(--p-color);
  transition: color 0.3s;
}



@media (max-width: 768px) {
  .sidebar {
    margin-top: 4rem;
    width: 300px;
    z-index: 100;
    background-color: rgb(15, 23, 42);
    padding: 2rem;
    height: 90vh;
    position: fixed;
    left: -300px;
    color: white;
    transition: transform 0.3s ease;
    border-right: 1px solid grey;
    color-scheme: dark;
    overflow-y: auto;
  }
}
